@font-face {
font-family: "Computer Modern";
src: url('fonts/cmunss.otf');
}
@font-face {
font-family: "Computer Modern";
src: url('fonts/cmunsx.otf');
font-weight: bold;
}
@font-face {
font-family: "Computer Modern";
src: url('fonts/cmunsi.otf');
font-style: italic, oblique;
}
@font-face {
font-family: "Computer Modern";
src: url('fonts/cmunbxo.otf');
font-weight: bold;
font-style: italic, oblique;
}

body {
    font-family: "Computer Modern", sans-serif;
    margin-bottom: 60px;
}

#header {
    align-self: flex-start;
    margin-top: 0px;
}

#content {
    display:flex;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
}

#workspace-main {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
}

.scroll-panel {
    max-height: 400px;
    overflow-y: scroll;
}


#workspace-left {
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    display: flex; 
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

#workspace-right {
    min-width: 220px;
    max-width: 220px;
    height: 100%;
    display: flex; 
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
}

#workspace-center {
    max-width: 1280px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

#svg-wrapper {
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px 2px;
}

#svg-container {
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 5px;
}

#editor {
    width: 100%;
    min-height: 100px;
}

html {
    position: relative;
    min-height: 100%;
}
